.cart-product {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.cart-product__title {
  flex-grow: 3;
  background-color: blue;
}
.cart-product__price{
    flex-grow: 1;
    background-color: green;
}
.cart-product__count{
    flex-grow: 1;
    background-color: orange;
}
.cart-product__priceAll{
    flex-grow: 1;
    background-color: red;
}
