body {
  background-color: skyblue !important;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  outline: none !important;
  border: none;
  cursor: pointer;
}
.custom-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fh:hover {
  opacity: 0.88;
  transition: 0.2s all;
}

